@for (player of game.players; track player; let i = $index) {
  <app-player [ngStyle]="{'top.px': 100 + (i * 50)}" [playerActive]="i == game.currentPlayer" [name]="player" class="player-position"></app-player>
}
<!--<app-player style="top: 130px" class="player-position"></app-player>-->
<div class="field">
  <div class="card-stack">
    @for (c of [1, 2, 3, 4, 5]; track c; let i = $index) {
      <img [ngStyle]="{'right.px': i*4}" src="assets/img/cards/card_cover.png">
    }
    <img (click)="takeCard()" class="top-card" style="right: 28px" src="assets/img/cards/card_cover.png">
    @for (card of game.playedCards; track card; ) {
      <img class="played-card" src="assets/img/cards/{{card}}.png">
    }
    @if (pickCardAnimation) {
      <img (click)="takeCard()" class="pick-card" style="right: 28px" src="assets/img/cards/{{currentCard}}.png">
    }
  </div>
</div>

<app-game-info [card]="currentCard"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
  <mat-icon>add</mat-icon>
</button>
